body {
  background-color: #3f3f3f;
}

.departure-board-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*min-height: 650px;*/
}

.platform-board {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 500px;
  min-width: 500px;
  height: 300px;
  font-family: Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px;
  border: #212121 5px solid;
}

.board-header {
  display: flex;
  flex-direction: row;
  background-color: #ccc;
  height: 12.5%;
}

.board-header>span {
  font-weight: bold;
  font-size: 18px;
  align-content: end;
  margin-right: 10px;
  margin-bottom: 4px;
}

.board-header>span:nth-child(1) {
  font-size: 28px;
  flex-grow: 1;
  margin-left: 10px;
  margin-top: 3px;
}

.board-destination {
  display: flex;
  flex-direction: row;
  height: 23.5%;
}

.board-destination>span {
  font-weight: bold;
  font-size: 36px;
  min-width: 10%;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.board-destination>span:nth-child(1) {
  flex-grow: 1;
  margin-left: 10px;
  max-width: 64%;
}

.board-destination>span:nth-child(3) {
  min-width: 17%;
}

.board-destination>span:nth-child(4) {
  min-width: 6%;
}

.divider {
  border: none;
  height: 1px;
  /* this makes it thin */
  background-color: #fff;
  margin: 0px 5px;
}

.board-stops {
  display: flex;
  flex-direction: row;
  height: 36%;
  font-size: 22px;
  overflow: hidden;
}

.board-stops>span:nth-child(1) {
  margin-left: 10px;
  font-size: 25px;
  max-width: 64px;
  margin-right: 20px;
  text-align: right;
}

.board-then-header {
  margin-left: 10px;
  margin-top: 6px;
  display: flex;
  flex-direction: row;
}

.board-then {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  height: 10%;
}

.board-then-header>span:nth-child(1),
.board-then>span:nth-child(1) {
  flex-grow: 1;
  max-width: 65%;
}

.board-then-header>span:nth-child(2),
.board-then>span:nth-child(2) {
  min-width: 11%;
}

.board-then-header>span:nth-child(3),
.board-then>span:nth-child(3) {
  min-width: 15%;
}

.board-then-header>span:nth-child(4),
.board-then>span:nth-child(4) {
  min-width: 6%;
}

.board-extras {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.board-extras>span:nth-child(1) {
  min-width: 80%;
}

.board-extras>span:nth-child(2) {
  min-width: 6%;
}


/* scrolling animation */
.scrolling-container {
  width: 100%; /* Or a specific width */
  overflow: hidden;
  white-space: nowrap; /* Prevents text wrapping */
  max-width: 80%;
}

.scrolling-text {
  display: inline-block; /* Or display: flex */
  animation: scrollText 10s linear infinite; /* Adjust duration as needed */
  color: yellow;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
    /* For duplicated content */
  }
}


.station-container {
  display: flex;
}

.station-container table {
  background-color: white;
  width: 200px;
  margin: 5px;
}

.station-container th {
  height: 28px;
}

.station-container td {
  text-align: center;
  cursor: pointer;
  /*background-color: darkgray;*/
  height: 26px;
}

table, td, th {
  border: #212121 3px solid;
  border-collapse: collapse;
}

.station-container .frehead {
  background-color: rgb(0, 93, 166)
}
.station-container .fre:hover, .station-container .fre.selected {
  background-color: rgba(0, 93, 166, 0.5)
}

.station-container .midhead {
  background-color: rgb(150, 26, 75)
}
.station-container .mid:hover, .station-container .mid.selected {
  background-color: rgba(150, 26, 75, 0.5)
}

.station-container .armhead {
  background-color: rgb(244, 168, 29)
}
.station-container .arm:hover, .station-container .arm.selected {
  background-color: rgba(244, 168, 29, 0.5)
}

.station-container .airhead {
  background-color: rgb(74, 192, 176)
}
.station-container .air:hover, .station-container .air.selected {
  background-color: rgba(74, 192, 176, 0.5)
}

.station-container .ellhead {
  background-color: rgb(255, 0, 0)
}
.station-container .ell:hover, .station-container .ell.selected {
  background-color: rgba(255, 0, 0, 0.5)
}

.station-container .tclhead {
  background-color: rgb(161, 114, 195)
}
.station-container .tcl:hover, .station-container .tcl.selected {
  background-color: rgba(161, 114, 195, 0.5)
}

.station-container .yanhead {
  background-color: rgb(147, 147, 54)
}
.station-container .yan:hover, .station-container .yan.selected {
  background-color: rgba(147, 147, 54, 0.5)
}

.station-container .manhead {
  background-color: rgb(208, 95, 39)
}
.station-container .man:hover, .station-container .man.selected {
  background-color: rgba(208, 95, 39, 0.5)
}